In [39]:
# importing libraries 
import pandas as pd
import numpy as np

In [40]:
# importing datset: emplyee.csv AND its description file descriptions/employee_description.csv
empdat = pd.read_csv('data/employee.csv') 
empdesc = pd.read_csv('data/descriptions/employee_description.csv')

In [41]:
# preview datasets
empdat.head(10)
#empdesc.head()

,UNIQUE_ID,POSITION_TITLE,DEPARTMENT,BASE_SALARY,RACE,EMPLOYMENT_TYPE,GENDER,EMPLOYMENT_STATUS,HIRE_DATE,JOB_DATE
0,0,ASSISTANT DIRECTOR (EX LVL),Municipal Courts Department,121862.0,Hispanic/Latino,Full Time,Female,Active,2006-06-12,2012-10-13
1,1,LIBRARY ASSISTANT,Library,26125.0,Hispanic/Latino,Full Time,Female,Active,2000-07-19,2010-09-18
2,2,POLICE OFFICER,Houston Police Department-HPD,45279.0,White,Full Time,Male,Active,2015-02-03,2015-02-03
3,3,ENGINEER/OPERATOR,Houston Fire Department (HFD),63166.0,White,Full Time,Male,Active,1982-02-08,1991-05-25
4,4,ELECTRICIAN,General Services Department,56347.0,White,Full Time,Male,Active,1989-06-19,1994-10-22
5,5,SENIOR POLICE OFFICER,Houston Police Department-HPD,66614.0,Black or African American,Full Time,Male,Active,1984-11-26,2005-03-26
6,6,ENGINEER,Public Works & Engineering-PWE,71680.0,Asian/Pacific Islander,Full Time,Male,Active,2012-03-26,2012-03-26
7,7,CARPENTER,Houston Airport System (HAS),42390.0,White,Full Time,Male,Active,2013-11-04,2013-11-04
8,8,DEPUTY ASSISTANT DIRECTOR (EXECUTIVE LEV,Public Works & Engineering-PWE,107962.0,White,Full Time,Male,Active,1993-11-15,2013-01-05
9,9,AIRPORT OPERATIONS COORDINATOR,Houston Airport System (HAS),44616.0,NaN,Full Time,Male,Active,2016-03-14,2016-03-14

In [42]:
empdat.dtypes

UNIQUE_ID              int64
POSITION_TITLE        object
DEPARTMENT            object
BASE_SALARY          float64
RACE                  object
EMPLOYMENT_TYPE       object
GENDER                object
EMPLOYMENT_STATUS     object
HIRE_DATE             object
JOB_DATE              object
dtype: object

In [43]:
empdat.describe(include = 'all')

,UNIQUE_ID,POSITION_TITLE,DEPARTMENT,BASE_SALARY,RACE,EMPLOYMENT_TYPE,GENDER,EMPLOYMENT_STATUS,HIRE_DATE,JOB_DATE
count,2000.000000,2000,2000,1886.000000,1965,2000,2000,2000,2000,1997
unique,NaN,330,24,NaN,6,5,2,2,999,947
top,NaN,SENIOR POLICE OFFICER,Houston Police Department-HPD,NaN,Black or African American,Full Time,Male,Active,2016-03-28,2002-01-05
freq,NaN,220,638,NaN,700,1954,1397,1991,11,34
mean,999.500000,NaN,NaN,55767.931601,NaN,NaN,NaN,NaN,NaN,NaN
std,577.494589,NaN,NaN,21693.706679,NaN,NaN,NaN,NaN,NaN,NaN
min,0.000000,NaN,NaN,24960.000000,NaN,NaN,NaN,NaN,NaN,NaN
25%,499.750000,NaN,NaN,40170.000000,NaN,NaN,NaN,NaN,NaN,NaN
50%,999.500000,NaN,NaN,54461.000000,NaN,NaN,NaN,NaN,NaN,NaN
75%,1499.250000,NaN,NaN,66614.000000,NaN,NaN,NaN,NaN,NaN,NaN
max,1999.000000,NaN,NaN,275000.000000,NaN,NaN,NaN,NaN,NaN,NaN

In [45]:
empdat = empdat.dropna()

In [48]:
empdat.describe(include='all')

,UNIQUE_ID,POSITION_TITLE,DEPARTMENT,BASE_SALARY,RACE,EMPLOYMENT_TYPE,GENDER,EMPLOYMENT_STATUS,HIRE_DATE,JOB_DATE
count,1853.000000,1853,1853,1853.000000,1853,1853,1853,1853,1853,1853
unique,NaN,315,24,NaN,6,1,2,1,949,903
top,NaN,POLICE OFFICER,Houston Police Department-HPD,NaN,Black or African American,Full Time,Male,Active,2001-10-30,2002-01-05
freq,NaN,184,570,NaN,668,1853,1288,1853,10,20
mean,996.941176,NaN,NaN,56085.907717,NaN,NaN,NaN,NaN,NaN,NaN
std,579.063094,NaN,NaN,21692.001274,NaN,NaN,NaN,NaN,NaN,NaN
min,0.000000,NaN,NaN,24960.000000,NaN,NaN,NaN,NaN,NaN,NaN
25%,489.000000,NaN,NaN,40186.000000,NaN,NaN,NaN,NaN,NaN,NaN
50%,995.000000,NaN,NaN,54857.000000,NaN,NaN,NaN,NaN,NaN,NaN
75%,1501.000000,NaN,NaN,66614.000000,NaN,NaN,NaN,NaN,NaN,NaN
max,1999.000000,NaN,NaN,275000.000000,NaN,NaN,NaN,NaN,NaN,NaN

In [72]:
empdat.groupby(['DEPARTMENT'])['BASE_SALARY'].mean().astype('int').sort_values(ascending=False)

DEPARTMENT
Legal Department                  104959
Mayor's Office                     86489
Finance                            80444
Houston Information Tech Svcs      76112
City Council                       63829
Housing and Community Devp.        61387
Houston Police Department-HPD      60428
Houston Fire Department (HFD)      59960
Human Resources Dept.              56311
City Controller's Office           55711
Planning & Development             54879
Houston Airport System (HAS)       53990
Admn. & Regulatory Affairs         53805
Municipal Courts Department        53745
Health & Human Services            51324
General Services Department        51295
Public Works & Engineering-PWE     50207
Houston Emergency Center (HEC)     47107
Dept of Neighborhoods (DON)        47092
Fleet Management Department        44790
Library                            43857
Solid Waste Management             42761
Parks & Recreation                 39426
Convention and Entertainment       38397
Name: BASE_SALARY, dtype: int32

In [76]:
empdat.groupby(['POSITION_TITLE','DEPARTMENT'])['BASE_SALARY'].mean().astype('int').sort_values(ascending=False)

POSITION_TITLE                            DEPARTMENT
CITY ATTORNEY                             Legal Department                  275000
ASSOCIATE EMS PHYSICIAN DIRECTOR,MD       Houston Fire Department (HFD)     210588
DEPUTY DIRECTOR-FINANCE & ADMINISTRATION  Houston Police Department-HPD     199596
DEPUTY DIRECTOR-AVIATION (EX LVL)         Houston Airport System (HAS)      186192
CHIEF PHYSICIAN,MD                        Health & Human Services           180416
DEPUTY DIRECTOR-PUBLIC WORKS (EXECUTIVE   Public Works & Engineering-PWE    178331
ASSOCIATE EMS PHYSICIAN DIRECTOR          Houston Fire Department (HFD)     165216
DEPUTY DIRECTOR (EXECUTIVE LEVEL)         Houston Police Department-HPD     163228
                                          Houston Airport System (HAS)      150416
ASSISTANT DIRECTOR-PUBLIC WORKS (EXECUTI  Public Works & Engineering-PWE    144044
DEPUTY DIRECTOR (EXECUTIVE LEVEL)         Admn. & Regulatory Affairs        140416
EXECUTIVE ASSISTANT FIRE CHIEF            Houston Fire Department (HFD)     130585
ASSISTANT DIRECTOR (EXECUTIVE LEVEL)      Admn. & Regulatory Affairs        130416
SENIOR ASSISTANT CITY ATTORNEY II         Legal Department                  129863
ASSISTANT DIRECTOR (EXECUTIVE LEVEL)      Fleet Management Department       125884
                                          Houston Airport System (HAS)      124761
ASSISTANT DIRECTOR (EX LVL)               Municipal Courts Department       121862
ASSISTANT DIRECTOR (EXECUTIVE LEVEL)      Health & Human Services           120799
EXECUTIVE STAFF ANALYST (EXE LEVEL)       Mayor's Office                    120750
CHIEF ARCHITECT                           Houston Airport System (HAS)      115416
IRM MANAGER                               Public Works & Engineering-PWE    114625
DEPUTY ASSISTANT DIRECTOR (EX LVL)        Houston Airport System (HAS)      110686
DIVISION MANAGER                          Human Resources Dept.             110547
JUDGE OF MUNICIPAL COURTS                 Municipal Courts Department       110466
DEPUTY ASSISTANT DIRECTOR (EXE LEV)       Solid Waste Management            110005
DEPUTY ASSISTANT DIRECTOR (EXECUTIVE LEV  Mayor's Office                    110000
                                          Library                           107763
MANAGING ENGINEER                         Public Works & Engineering-PWE    107636
DEPUTY ASSISTANT DIRECTOR (EXECUTIVE LEV  Public Works & Engineering-PWE    106658
POLICE CAPTAIN                            Houston Police Department-HPD     104455
                                                                             ...
SENIOR DATA ENTRY OPERATOR                Public Works & Engineering-PWE     29234
ANIMAL CARE TECHNICIAN                    Admn. & Regulatory Affairs         29182
MECHANIC HELPER                           Fleet Management Department        29053
POLICE SERVICE OFFICER                    Houston Police Department-HPD      28912
CUSTOMER SERVICE CLERK                    Houston Police Department-HPD      28676
EQUIPMENT OPERATOR I                      Houston Airport System (HAS)       28652
RECORDS TECHNICIAN                        Public Works & Engineering-PWE     28600
SEMI-SKILLED LABORER                      Public Works & Engineering-PWE     28398
ADMINISTRATIVE AIDE                       Houston Police Department-HPD      28340
CUSTOMER SERVICE CLERK                    Human Resources Dept.              28288
SEMI-SKILLED LABORER                      Solid Waste Management             28225
GARDENER                                  Parks & Recreation                 28205
BREASTFEEDING PEER COUNSELOR              Health & Human Services            28170
FIRE FIGHTER TRAINEE                      Houston Fire Department (HFD)      28024
CUSTOMER SERVICE CLERK                    Library                            27955
SEMI-SKILLED LABORER                      Fleet Management Department        27622
DATA ENTRY OPERATOR                       Houston Police Department-HPD      27476
INFRASTRUCTURE ASSESSMENT TECHNICIAN I    Public Works & Engineering-PWE     27102
SEMI-SKILLED LABORER                      Parks & Recreation                 26755
CUSTODIAN                                 Solid Waste Management             26499
LABORER                                   Houston Airport System (HAS)       26355
CUSTODIAN                                 Houston Police Department-HPD      26229
                                          Parks & Recreation                 26125
LIBRARY ASSISTANT                         Library                            26125
SENIOR CLERK                              Health & Human Services            26125
RECREATION ASSISTANT                      Parks & Recreation                 26125
LABORER                                   Dept of Neighborhoods (DON)        26125
CUSTODIAN                                 General Services Department        26125
LABORER                                   Public Works & Engineering-PWE     26120
CAR ATTENDANT                             Houston Police Department-HPD      24960
Name: BASE_SALARY, Length: 480, dtype: int32

In [87]:
empdat.groupby(['RACE','GENDER'])['BASE_SALARY'].mean().sort_values(ascending=False)
#empdat.groupby(['RACE','GENDER'])['BASE_SALARY'].max().sort_values(ascending=False)

RACE                               GENDER
White                              Female    66793.352941
                                   Male      63940.388119
Others                             Female    63785.000000
Asian/Pacific Islander             Female    63226.300000
                                   Male      61033.906667
American Indian or Alaskan Native  Male      60305.400000
                                   Female    60238.800000
Hispanic/Latino                    Male      54767.541538
Black or African American          Male      51118.867374
                                   Female    48965.790378
Hispanic/Latino                    Female    46503.316176
Others                             Male      38771.000000
Name: BASE_SALARY, dtype: float64